[submodule "pure-pynbo"]
	path = pure-pynbo
	url = https://github.com/Python-Nairobi/pure-pynbo.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/Python-Nairobi/pelican-plugins.git
